<!-- Start:main -->
    <div style="background:#f5f5f5;" ng-controller="BrankListCtrl">       
        <div class="main mainIndex" id="pageone" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
            <!-- Start:news -->
            <div class="news" ng-repeat="ColumnInfo in ColumnInfoList">
                <div class="news-focus">
                    <!--begin 6870318-0-1-->
                    <div class="news-photo"><a ng-click="ShowColumn(ColumnInfo.ID)" target="_blank">
                        <img src="{{ColumnInfo.CoverPicUrl}}" border="0" width="557px" height="313px"></a></div>
                    <!--end 6870318-0-1-->
                </div>
            </div>
            <!-- End:news -->


        </div>

    </div>
    <!-- End:main -->