<div ng-controller="ListCtrl">
    <div infinite-scroll='loadMore()' infinite-scroll-disabled='busy' infinite-scroll-distance='4' infinite-scroll-immediate-check ="false">
        <a ng-repeat="ArticleInfo in ArticleInfoList | filter:NormalFilter" class="list_item js_post" ng-click="ShowArticle(ArticleInfo.ID,ArticleInfo.DicIDs)">
            <div class="cover">
                <img class="img js_img" src="{{ArticleInfo.CoverPicUrl}}" alt="">
            </div>
            <div class="cont">
                <h2 class="title js_title">{{ArticleInfo.Title}}</h2>
                <p class="desc">{{ArticleInfo.Title}}</p>
            </div>
        </a>
    </div>
</div>
